@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
<<<<<<< HEAD
@import url(./styles/reset.css);
@import url(./styles/variables.css);

=======
@import url("./stlyles/reset.css");
@import url("./stlyles/variables.css");
/* root에 색상을 미리 정해두고 밑에서 색상 정할 때 var로 탭하면 쓸 수 잇음 */
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
body {
  background: var(--main-dark-color);
  font-family: "Noto Sans KR", serif;
}

.container {
  width: 100%;
  height: 3000px;
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  & > nav {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    .logo {
      img {
        height: 30px;
      }
    }
    .search-box {
      i {
        font-size: 22px;
        color: var(--main-light-color);
        cursor: pointer;
      }
    }
  }
}

.menu_bg {
  width: 100%;
<<<<<<< HEAD
  height: 290px;
=======
  height: 360px;
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
}

.gnb {
<<<<<<< HEAD
  color: var(--main-light-color);
=======
  color: #fff;
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  & > ul {
    width: 900px;
    display: flex;
    justify-content: space-between;
    & > li > a {
      display: inline-block;
<<<<<<< HEAD
      width: 110px;
=======
      width: 120px;
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
      text-align: center;
      font-weight: bold;
      position: relative;
      transition: color 0.3s;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: crimson;
        margin-left: 50%;
        transform-origin: center;
        transform: translateX(-50%);
        transition: width 0.3s;
      }
      &:hover {
        color: crimson;
        &::after {
          width: 100%;
        }
      }
    }
    .submenu {
<<<<<<< HEAD
      width: 110px;
=======
      width: 120px;
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      text-align: center;
      position: absolute;
      transition: opacity 0.5s ease, max-height 0.5s ease;
      a {
        color: #fff;
        &:hover {
          color: crimson;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

.mainSlider {
  width: 100%;
  height: 600px;
  position: relative;
  figure {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.active {
      opacity: 1;
    }
<<<<<<< HEAD

=======
>>>>>>> f9e11744d3bb9be93ea60c95873e233a1d930d75
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
